* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

.container {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
}

.box1 {
  order: 1;
}

.box2 {
  order: 2;
}

.box3 {
  order: 3;
}

@media screen and (max-width: 768px) {
  .box1 {
    order: 3;
  }

  .box2 {
    order: 1;
  }

  .box3 {
    order: 2;
  }
}
