/* Transition */
body {
  background-color: rgb(100, 100, 100);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  /* transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: all; */
  transition: all 0.5s ease-in-out;
  /* animation-name: boxAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
  animation-direction: alternate; */
  animation: boxAnimation 3s ease-in-out infinite alternate;
}

.box:hover {
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  visibility: visible;
}

.text {
  opacity: 0;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.box:hover .text {
  opacity: 1;
}

@keyframes boxAnimation {
  0% {
    background-color: red;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    background-color: red;
    transform: translate(calc(100vw - 100px), 0) rotate(180deg);
  }
  50% {
    background-color: green;
    transform: translate(calc(100vw - 100px), calc(100vh - 100px)) rotate(360deg);
  }
  75% {
    background-color: blue;
    transform: translate(0, calc(100vh - 100px)) rotate(180deg);
  }
  100% {
    background-color: gold;
    transform: translate(0, 0) rotate(0deg);
  }
}
