.bgImage {
  background-image: url("https://images.unsplash.com/photo-1766548730089-e446483315b1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D");
  width: 500px;
  height: 300px;
  color: whitesmoke;
  padding: 20px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.title {
  font-size: 30px;
}

.paragraph {
  font-size: 20px;
}

/* media query */
@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }
  .paragraph {
    font-size: 12px;
  }
  .bgImage {
    width: 300px;
    height: 200px;
    padding: 10px;
    color: brown;
  }
}
